@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>JWRIGHT CARE</h1>
    <p class="lead">JWright Tutorial and Student Care Center offers your nothing but the UNIQUES to help your child CONFIDENCE and SUCCESS.</p>
    <p><a href="https://www.facebook.com/jwright.Aparicio" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
