
@{
    ViewBag.Title = "Index";
}

<h2>List</h2>

<div class="jumbotron">
    <p>
        @Html.ActionLink("Students", "Students")
        <br />
        @Html.ActionLink("Instructors", "Instructors")
    </p>

</div>


